/* common CSS */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.display-flex{
    display: flex;
}
/* common CSS */

/* header-container CSS */
.main-header-section{
    background: rgba(255, 144, 14, 0.1);
}
.header-container{
    max-width: 1152px;
    margin: 0 auto;
    justify-content: space-between;
    
}
.header-link .list{
    list-style-type: none;
    margin-left: 50px;
}
.list > a{
    text-decoration: none;color: rgb(66, 66, 66);
    font-family: Work Sans;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 26px;
    text-align: center;

}
.header-text{
    margin-top: 50px;
}
.header-link{
    margin-top: 63px;
}
.header-text h2{
    color: rgb(19, 19, 19);
font-family: Work Sans;
font-size: 3rem;
font-weight: 700;
line-height: 53px;
text-align: center;
}
/* header-container CSS */
 
/* Banner-container CSS */
.banner-container{
    max-width: 1152px;
    margin: 0 auto;
    margin-top: 103px;
}
.banner-text{
    max-width: 690px;
    margin: 0 auto;
}
.banner-title{
    color: rgb(19, 19, 19);
font-family: Work Sans;
font-size: 4rem;
font-weight: 700;
line-height: 75px;
text-align: center;
margin-bottom: 32px;
}
.banner-description{
    color: rgb(114, 114, 114);
font-family: Work Sans;
font-size: 1rem;
font-weight: 400;
line-height: 26px;
text-align: center;
margin-bottom: 32px;
}
.banner-btn{
text-align: center;
}
.banner-btn button{
    background: rgb(255, 144, 14);
    padding: 21px 25px;
    border: none;
    border-radius: 8px;
    color: rgb(255, 255, 255);
        font-family: Work Sans;
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 23px;;
} 
.banner-img{
    width: 100%;
    margin-top: 50px;
    padding-bottom: 45px;
}
.banner-img img{
    width: 100%;
}
/* Banner-container CSS */

/* Feature-container-CSS */
.feature-container{
  max-width: 1152px;
  margin: 0 auto;
  margin-top: 85px;
   display: flex;
   gap: 73px;
   align-items: center; 
   margin-bottom: 130px;
}
.feature-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
#quick{
    color: rgb(114, 114, 114);
    font-weight: 400px;
    font-family: Work Sans;
    font-size: 2.8rem;
}
.feature-title{
    font-family: Work Sans;
font-size: 2.8rem;
font-weight: 700; 
line-height: 53px;
text-align: left;
margin-bottom: 24px;
} 
.feature-description{
    color: rgb(114, 114, 114);
font-family: Work Sans;
font-size: 1rem;
font-weight: 400;
line-height: 26px;
text-align: left;
margin-bottom: 32px;
}
.feature-btn{
    color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 1.3rem;
font-weight: 600;
line-height: 23px;
text-align: left;
border-radius: 8px;
background: rgb(255, 144, 14);
padding: 21px 25px;
border: none;
}

#feature{
    color: rgb(255, 144, 14);
}
/* Feature-container-CSS */

/* fact-container-css */
.fact-container{
    max-width: 1152px;
    margin: 0 auto;
    margin-bottom: 170px;
}
.fact-text{
    max-width: 430px;
}
.fact-title{
color: rgb(19, 19, 19);
font-family: Work Sans;
font-size: 2.9rem;
font-weight: 700;
line-height: 53px;
text-align: left;
margin-bottom: 24px;
}
.fact-description{
    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}
.award-card, .project-card, .client-card, .email-card{
    box-sizing: border-box;
    border: 1px solid rgb(255, 144, 14);
    border-radius: 8px;
    /* max-width: 220px; */
 
}
.fact-card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 100px;
    justify-content: space-evenly;
    gap: 50px;
    padding: 0 25px;
    
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.box-width{
    max-width: 180px;

    margin-top: 45px;
    margin-bottom: 58px;
}
.flex h4{
    color: rgb(66, 66, 66);
font-family: Work Sans;
font-size: 2.8rem;
font-weight: 600;
line-height: 53px;
margin-top: 10px;
}
.flex h5{
    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 1.3rem ;
    font-weight: 600;
    line-height: 23px;
    margin-top: 5px;
}


/* Responsive CSS */

@media screen and (max-width:576px){
    .header-container{
        flex-direction: column;
    }
    .header-link .list{
        margin-left: 26px;
    }
     .link-container {
        flex-direction: row;
        justify-content: center;
        align-items: center;
         padding-right: 5px; 
     }
     .feature-container{
        flex-direction: column;
     }
     .feature-img-container{
      grid-template-columns: repeat(1,1fr);
     }
     .feature-text-container{
        padding-left: 10px;
     }
     .fact-card{
        grid-template-columns: repeat(1 ,1fr);
     }
     .fact-text{
        margin: 0 auto;
     }
}
@media screen and (min-width:576px) and (max-width:992px) {
    .header-container{
        padding: 0 20px 0 10px;
    }
    .feature-container{
        flex-direction: column;
    }
    .feature-text-container{
        max-width: 430px;
        margin: 0 auto;
    }
    .fact-card{
        grid-template-columns: repeat(2,1fr);
    }
    .fact-text{
        margin: 0 auto;
     }
}